@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', sans-serif;
  background-color: #fffcfc; /* 랜딩 페이지 배경색 */
  color: #1e293b;
  overflow-x: hidden;
}

#root { min-height: 100vh; }

button { cursor: pointer; border: none; font-family: 'Pretendard', sans-serif; }
